[Unit]
Description=Start windows passthrough
After=libvirtd.service

[Service]
Type=forking
User=root
ExecStart=/opt/dotfiles/windows/passthrough/start.sh
ExecStop=/opt/dotfiles/windows/passthrough/stop.sh
Restart=no
PIDFile=/tmp/vm-start.pid

[Install]
WantedBy=default.target
