*pem
*der
*~
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.o
.xmonad/xmonad.hi
.xmonad/xmonad.errors
.xmonad/#*#
.emacs.d/elpa/
.emacs.d/session*
.emacs.d/session*
.emacs.d/org-clock-save.el
.emacs.d/recentf
.emacs.d/tramp
.xmonad/xmonad.state
GTAGS
GRTAGS
GPATH
*/.stack-work/*
.xmonad/xmobar-git/
.xmonad/xmonad-contrib-git/
.xmonad/xmonad-git/
.xmonad/build
.xmonad/build.bck
